#
# Copyright (C) 2010-2012 Opersys inc.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#!/usr/bin/make -f

GNUTLS_MAJOR:=$(shell test -x /usr/bin/dpkg && dpkg --status libgnutls-dev | grep ^Version | cut -d ':' -f 2 | cut -d '.' -f 1)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build:
	(cd kpsinstalltool && \
		$(MAKE) LIBKTOOLS_INCLUDE=/usr/include/libktools \
		        LIBKTOOLS_LIB=/usr/lib \
	                TAGCRYPT_INCLUDE=/usr/include/tagcrypt \
			TAGCRYPT_LIB=/usr/lib)
	(cd sslsigntool && $(MAKE))

# FIXME: I don't like that exception, but for now we don't need
# verifyorgcert on any distributed platforms.

ifeq ($(GNUTLS_MAJOR), 2)
	(cd verifyorgcert && \
		$(MAKE) LIBKTOOLS_INCLUDE=/usr/include/libktools \
			LIBKTOOLS_LIBRARY=/usr/lib)
endif

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs

# Install the binaries for teambox-acttools-admin
	mkdir -p $(CURDIR)/debian/teambox-acttools/usr/bin
	mkdir -p $(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/acttools
	mkdir -p $(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/actadmcmds
	mkdir -p $(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/cliadmcmds
	mkdir -p $(CURDIR)/debian/teambox-acttools/usr/share/doc/teambox-acttools

	install -m755 adminacttools/actadm \
		$(CURDIR)/debian/teambox-acttools/usr/bin/actadm
	install -m755 adminacttools/cliadm \
		$(CURDIR)/debian/teambox-acttools/usr/bin/cliadm
	install -m755 adminacttools/insertclient \
		$(CURDIR)/debian/teambox-acttools/usr/bin/insertclient

ifeq ($(GNUTLS_MAJOR), 2)
	install -m755 verifyorgcert/verifyorgcert \
		$(CURDIR)/debian/teambox-acttools/usr/bin/verifyorgcert
endif

	install -m644 adminacttools/acttools/*.py \
		$(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/acttools
	install -m644 adminacttools/actadmcmds/*.py \
		$(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/actadmcmds
	install -m644 adminacttools/cliadmcmds/*.py \
		$(CURDIR)/debian/teambox-acttools/usr/share/python-support/teambox-acttools/cliadmcmds

	install -m644 keys/README \
		$(CURDIR)/debian/teambox-acttools/usr/share/doc/teambox-acttools/README

# Install the binaries for teambox-acttools
	mkdir -p debian/teambox-acttools/usr/bin
	mkdir -p debian/teambox-acttools/usr/share/teambox-acttools

	install -m755 kpsinstalltool/kpsinstalltool \
		debian/teambox-acttools/usr/bin/kpsinstalltool
	install -m755 sslsigntool/sslsigntool \
		debian/teambox-acttools/usr/bin/sslsigntool
	install -m755 adminacttools/update_bundle \
		debian/teambox-acttools/usr/bin/update_bundle
	install -m755 adminacttools/update_bundle_k2 \
		debian/teambox-acttools/usr/bin/update_bundle_k2

# Install the public keys.
	install -m644 keys/teambox_kps_email.sig.pkey \
	 debian/teambox-acttools/usr/share/teambox-acttools/teambox_kps_email.sig.pkey
	install -m644 keys/teambox_kps_install_cert.pem \
	 debian/teambox-acttools/usr/share/teambox-acttools/teambox_kps_install_cert.pem
	c_rehash debian/teambox-acttools/usr/share/teambox-acttools

	install -m644 keys/README \
		debian/teambox-acttools/usr/share/teambox-acttools/README

binary-indep:

binary-arch-teambox-acttools: install
	dh_testdir
	dh_testroot
	dh_installdocs -pteambox-acttools
	dh_pysupport
	dh_link -pteambox-acttools
	dh_strip -pteambox-acttools
	dh_compress -pteambox-acttools
	dh_fixperms -pteambox-acttools
	dh_installdeb -pteambox-acttools
	dh_shlibdeps -pteambox-acttools
	dh_gencontrol -pteambox-acttools
	dh_md5sums -pteambox-acttools
	dh_builddeb -pteambox-acttools

# Build architecture-dependent files here.
binary-arch: binary-arch-teambox-acttools

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
